.app-icon {
	//<div class="app-icon"></div>
	width: 400px;
	height: 100px;
	background-color: #0d0d0d;
	//position: absolute;
}

.app-icon:optional {
}

.center{
	margin: 0;
	position: relative;
	top: 50%;
  left: 50%;
  /*-ms-transform: translate(-50%, -50%);*/
  transform: translate(-50%, -50%);
}

path {
	//stroke: #0d0d0d;
	transition: fill 250ms;
}
